In [2]:
import pandas as pd

# 주피터 화면 가로로 넓게 보기
from IPython.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [17]:
EV_Line_1_Df =  pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_수도권1호선_엘리베이터_20221122.csv', encoding='cp949')
EV_Line_2_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_수도권2호선_엘리베이터_20221122.csv', encoding='cp949')
EV_Line_3_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_수도권3호선_엘리베이터_20221122.csv', encoding='cp949')
EV_Line_4_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_수도권4호선_엘리베이터_20221122.csv', encoding='cp949')
EV_Line_5_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_수도권5호선_엘리베이터_20221122.csv', encoding='cp949')
EV_Line_6_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_수도권6호선_엘리베이터_20221122.csv', encoding='cp949')
EV_Line_7_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_수도권7호선_엘리베이터_20221122.csv', encoding='cp949')
EV_Line_8_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_수도권8호선_엘리베이터_20221122.csv', encoding='cp949')
EV_Line_Gyeongui_Jungang_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_경의중앙선_승강장_정보_20221013.csv', encoding='cp949')
EV_Line_Gyeongchun_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_경춘선_승강장_정보_20221013.csv', encoding='cp949')
EV_Line_Suin_Bundang_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_수인분당선_승강장_정보_20221121.csv', encoding='cp949')
EV_Line_New_Bundang_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_신분당선_승강장_정보_20221013.csv', encoding='cp949')
EV_Line_Ever_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_에버라인_승강장_정보_20221013.csv', encoding='cp949')
EV_Line_Uijeongbu_Rail_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_의정부경전철_승강장_정보_20221013.csv', encoding='cp949')
EV_Line_Incheon1_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_인천1호선_승강장_정보_20221013.csv', encoding='cp949')
EV_Line_Incheon2_Df = pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/국가철도공단_인천2호선_승강장_정보_20221013.csv', encoding='cp949')

In [18]:
EV_Line_1_Df

    철도운영기관명   선명   역명  출입구번호                        상세위치  정원_인원  정원_중량(kg)
0    서울교통공사  1호선  동대문    NaN                (B1-B2) 10-4   11.0      750.0
1    서울교통공사  1호선  동대문    NaN                 (B1-B2) 2-1   11.0      750.0
2    서울교통공사  1호선  동대문    6.0              (B1-F1)6번 출입구측   15.0     1000.0
3    서울교통공사  1호선  동묘앞    NaN           (B1-F4)본관건물(상)6-2   15.0     1000.0
4    서울교통공사  1호선  동묘앞    NaN                (B1-B2) 10-3   15.0     1000.0
..      ...  ...  ...    ...                         ...    ...        ...
342     코레일  1호선   회기    NaN     (1층) 문산방면 승강장 4-4 출입문 앞   13.0     1000.0
343     코레일  1호선   회룡    NaN  (1F) 망월사역 방향 승강장 7-2 출입문 앞   15.0     1000.0
344     코레일  1호선   회룡    NaN  (1F) 의정부역 방향 승강장 3-4 출입문 앞   15.0     1000.0
345     코레일  1호선   회룡    3.0       (1F) 3번 출입구 북쪽 20M 지점   15.0     1000.0
346     코레일  1호선   회룡    5.0            (1F) 5번 출입구 계단 옆   15.0     1000.0

[347 rows x 7 columns]

In [19]:
EV_Line_1_Df = EV_Line_1_Df.drop_duplicates(subset='역명')
EV_Line_1_Df

,철도운영기관명,선명,역명,출입구번호,상세위치,정원_인원,정원_중량(kg)
0,서울교통공사,1호선,동대문,NaN,(B1-B2) 10-4,11.0,750.0
3,서울교통공사,1호선,동묘앞,NaN,(B1-F4)본관건물(상)6-2,15.0,1000.0
10,서울교통공사,1호선,서울역,NaN,(B1-B2)섬식(상) 5-1,11.0,750.0
14,서울교통공사,1호선,시청,NaN,(B1-B2) 3-2,15.0,1000.0
17,서울교통공사,1호선,신설동,NaN,(B1-B2) 3-4,15.0,1000.0
...,...,...,...,...,...,...,...
328,코레일,1호선,평택,1.0,(3F) 1번 출입구 방향 신발매장 옆(동광장),15.0,1000.0
334,코레일,1호선,평택지제,1.0,(1F) 1번 출구 버스정류장 앞 (2F) 맞이방 이동통로,15.0,1000.0
337,코레일,1호선,화서,5.0,(1) 1층 상행맞이방 장애인게이트 근처/ 5번 출입구 옆 (2) 6번 출입구 옆,15.0,1000.0
339,코레일,1호선,회기,1.0,(1층) 1번 출입구 옆,13.0,1000.0
343,코레일,1호선,회룡,NaN,(1F) 망월사역 방향 승강장 7-2 출입문 앞,15.0,1000.0

In [20]:
EV_Line_1_Df = EV_Line_1_Df[['선명', '역명']]
EV_Line_1_Df

      선명    역명
0    1호선   동대문
3    1호선   동묘앞
10   1호선   서울역
14   1호선    시청
17   1호선   신설동
..   ...   ...
328  1호선    평택
334  1호선  평택지제
337  1호선    화서
339  1호선    회기
343  1호선    회룡

[94 rows x 2 columns]

   A  B  C
0  7  1  4
1  8  2  5
2  9  3  6

In [23]:
import pandas as pd

# 기존 데이터프레임 생성
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# 원하는 컬럼 순서로 컬럼을 재배치하고 새로운 데이터프레임 생성
new_columns = ['C', 'A', 'B']
new_df = df[new_columns]

# 값과 컬럼 순서를 함께 변경
new_df = new_df.reindex(columns=new_columns)

# 결과 출력
print(new_df)

   C  A  B
0  7  1  4
1  8  2  5
2  9  3  6

In [7]:
EV_Location =  pd.read_excel('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/서울시 지하철 역사 노약자 장애인 편의시설 현황/(전처리)서울교통공사_엘리베이터 설치현황_20230420.xlsx')
EV_Location

      연번 호선      역명    호기     승강기번호      설치위치      운행구간
0      0  1  서울역(1)  내부#1  0074-205  시청 방면5-1     B2-B1
1      1  1  서울역(1)  외부#1  0104-656   2번 출구 측     B1-1F
2      2  1  서울역(1)  외부#2  0105-867   4번 출구 측     B1-1F
3      3  1  서울역(1)  외부#3  0073-979   3번 출구 측     B1-1F
4      4  1   시청(1)  내부#1  0002-888  종각 방면3-2     B2-B1
..   ... ..     ...   ...       ...       ...       ...
825  825  8      수진     2  2116-590  모란 방면4-1     B2-B1
826  826  8      수진     3  2212-625   3번 출구 측     B1-1F
827  827  8   모란(8)     1  2116-583  수진 방면5-2  B3-B2-B1
828  828  8   모란(8)     2  2116-584  모란 방면2-3     B3-B2
829  829  8   모란(8)     3  2116-585  11번 출구 측     B1-1F

[830 rows x 7 columns]

In [8]:
# '설치위치' 컬럼과 '운행구간' 컬럼 값 이어붙이기
EV_Location['설치위치'] = EV_Location['설치위치'].astype(str) + ', ' + EV_Location['운행구간'].astype(str)
EV_Location

      연번 호선      역명    호기     승강기번호                설치위치      운행구간
0      0  1  서울역(1)  내부#1  0074-205     시청 방면5-1, B2-B1     B2-B1
1      1  1  서울역(1)  외부#1  0104-656      2번 출구 측, B1-1F     B1-1F
2      2  1  서울역(1)  외부#2  0105-867      4번 출구 측, B1-1F     B1-1F
3      3  1  서울역(1)  외부#3  0073-979      3번 출구 측, B1-1F     B1-1F
4      4  1   시청(1)  내부#1  0002-888     종각 방면3-2, B2-B1     B2-B1
..   ... ..     ...   ...       ...                 ...       ...
825  825  8      수진     2  2116-590     모란 방면4-1, B2-B1     B2-B1
826  826  8      수진     3  2212-625      3번 출구 측, B1-1F     B1-1F
827  827  8   모란(8)     1  2116-583  수진 방면5-2, B3-B2-B1  B3-B2-B1
828  828  8   모란(8)     2  2116-584     모란 방면2-3, B3-B2     B3-B2
829  829  8   모란(8)     3  2116-585     11번 출구 측, B1-1F     B1-1F

[830 rows x 7 columns]

In [10]:
import re



# 정규식 패턴으로 "(", ")", 숫자를 제거하여 대체
EV_Location['역명'] = EV_Location['역명'].apply(lambda x: re.sub(r'[\(\)\d]', '', x))

EV_Location

      연번 호선   역명    호기     승강기번호                설치위치      운행구간
0      0  1  서울역  내부#1  0074-205     시청 방면5-1, B2-B1     B2-B1
1      1  1  서울역  외부#1  0104-656      2번 출구 측, B1-1F     B1-1F
2      2  1  서울역  외부#2  0105-867      4번 출구 측, B1-1F     B1-1F
3      3  1  서울역  외부#3  0073-979      3번 출구 측, B1-1F     B1-1F
4      4  1   시청  내부#1  0002-888     종각 방면3-2, B2-B1     B2-B1
..   ... ..  ...   ...       ...                 ...       ...
825  825  8   수진     2  2116-590     모란 방면4-1, B2-B1     B2-B1
826  826  8   수진     3  2212-625      3번 출구 측, B1-1F     B1-1F
827  827  8   모란     1  2116-583  수진 방면5-2, B3-B2-B1  B3-B2-B1
828  828  8   모란     2  2116-584     모란 방면2-3, B3-B2     B3-B2
829  829  8   모란     3  2116-585     11번 출구 측, B1-1F     B1-1F

[830 rows x 7 columns]

In [11]:
# CSV 파일로 저장
EV_Location.to_csv('(최종 전처리) 서울교통공사_엘리베이터 설치현황_20230420.csv',encoding='cp949',index=False)

### 에스컬레이터 시작

In [49]:
ES_Location =  pd.read_excel('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/서울시 지하철 역사 노약자 장애인 편의시설 현황/(전처리)서울교통공사_에스컬레이터 설치현황_20230420.xlsx')
ES_Location

     호선      역명  호기     승강기번호       설치위치   운행구간 운행방향
0     1  서울역(1)   1  1800-448  연결통로(4호선)  B2-B1   상행
1     1  서울역(1)   2  1806-600   남영 방면2-3  B1-B2   하행
2     1  서울역(1)   3  1806-599   시청 방면9-3  B2-B1   상행
3     1  서울역(1)   4  1810-816    4번 출구 측  B1-1F   상행
4     1  서울역(1)   5  1810-817    4번 출구 측  1F-B1   하행
...  ..     ...  ..       ...        ...    ...  ...
1820  8   단대오거리   4  3805-602        대합실  B2-B1   상행
1821  8   단대오거리   5  3811-916    3번 출구 측  B1-1F   상행
1822  8   단대오거리   6  3811-917    3번 출구 측  1F-B1   하행
1823  8   모란(8)   1  3802-183        대합실  B1-B2   하행
1824  8   모란(8)   2  3802-184        대합실  B2-B1   상행

[1825 rows x 7 columns]

In [50]:
# '설치위치' 컬럼과 '운행구간' 컬럼 값 이어붙이기
ES_Location['설치위치'] = ES_Location['설치위치'].astype(str) + ', ' + ES_Location['운행구간'].astype(str)

import re

# 정규식 패턴으로 "(", ")", 숫자를 제거하여 대체
ES_Location['역명'] = ES_Location['역명'].apply(lambda x: re.sub(r'[\(\)\d]', '', x))

ES_Location

     호선     역명  호기     승강기번호              설치위치   운행구간 운행방향
0     1    서울역   1  1800-448  연결통로(4호선), B2-B1  B2-B1   상행
1     1    서울역   2  1806-600   남영 방면2-3, B1-B2  B1-B2   하행
2     1    서울역   3  1806-599   시청 방면9-3, B2-B1  B2-B1   상행
3     1    서울역   4  1810-816    4번 출구 측, B1-1F  B1-1F   상행
4     1    서울역   5  1810-817    4번 출구 측, 1F-B1  1F-B1   하행
...  ..    ...  ..       ...               ...    ...  ...
1820  8  단대오거리   4  3805-602        대합실, B2-B1  B2-B1   상행
1821  8  단대오거리   5  3811-916    3번 출구 측, B1-1F  B1-1F   상행
1822  8  단대오거리   6  3811-917    3번 출구 측, 1F-B1  1F-B1   하행
1823  8     모란   1  3802-183        대합실, B1-B2  B1-B2   하행
1824  8     모란   2  3802-184        대합실, B2-B1  B2-B1   상행

[1825 rows x 7 columns]

In [51]:
# CSV 파일로 저장
ES_Location.to_csv('(최종 전처리) 서울교통공사_에스컬레이터 설치현황_20230420.csv',encoding='cp949',index=False)

### 휠체어리프트 시작

In [3]:
WC_Location =  pd.read_excel('C:/Users/dlwhd/Downloads/2023 Hackton/Data_Preprocessing/실행에 필요한 데이터 모음/서울시 지하철 역사 노약자 장애인 편의시설 현황/(전처리)서울교통공사_휠체어리프트 설치현황_20230420.xlsx')
WC_Location

     호선      역명    호기     승강기번호              설치위치   운행구간
0     1  서울역(1)  내부#1  1902-362             C계단 측  B2-B1
1     1  신설동(1)  외부#2  1903-467           6번 출구 측  1F-B1
2     1  신설동(1)  내부#1  1903-415            제기동 방면  B2-B1
3     1  신설동(1)  내부#2  1903-417            동묘앞 방면  B2-B1
4     1  신설동(1)  내부#3  1903-416         연결통로(대합실)  B1-B1
..   ..     ...   ...       ...               ...    ...
106   8   잠실(8)     2   1900790  석촌 방면1-1 환승통로 계단  B3-B2
107   8   잠실(8)     3   1900791    사당 방면환승통로 끝 계단  통로-B2
108   8   복정(8)     1   1900771           4번 출구 측  B1-F1
109   8   모란(8)     1   3900941    환승통로(암사방면 6-4)  B3-B2
110   8   모란(8)     2   3900942    환승통로(모란방면 1-1)  B3-B2

[111 rows x 6 columns]

In [5]:
WC_Location[['startFrom', 'endAt']] = WC_Location['운행구간'].str.split('-', expand=True)
WC_Location

     호선      역명    호기     승강기번호              설치위치   운행구간 startFrom endAt
0     1  서울역(1)  내부#1  1902-362             C계단 측  B2-B1        B2    B1
1     1  신설동(1)  외부#2  1903-467           6번 출구 측  1F-B1        1F    B1
2     1  신설동(1)  내부#1  1903-415            제기동 방면  B2-B1        B2    B1
3     1  신설동(1)  내부#2  1903-417            동묘앞 방면  B2-B1        B2    B1
4     1  신설동(1)  내부#3  1903-416         연결통로(대합실)  B1-B1        B1    B1
..   ..     ...   ...       ...               ...    ...       ...   ...
106   8   잠실(8)     2   1900790  석촌 방면1-1 환승통로 계단  B3-B2        B3    B2
107   8   잠실(8)     3   1900791    사당 방면환승통로 끝 계단  통로-B2        통로    B2
108   8   복정(8)     1   1900771           4번 출구 측  B1-F1        B1    F1
109   8   모란(8)     1   3900941    환승통로(암사방면 6-4)  B3-B2        B3    B2
110   8   모란(8)     2   3900942    환승통로(모란방면 1-1)  B3-B2        B3    B2

[111 rows x 8 columns]

In [53]:
# # '설치위치' 컬럼과 '운행구간' 컬럼 값 이어붙이기
# WC_Location['설치위치'] = WC_Location['설치위치'].astype(str) + ', ' + WC_Location['운행구간'].astype(str)

# import re

# # 정규식 패턴으로 "(", ")", 숫자를 제거하여 대체
# WC_Location['역명'] = WC_Location['역명'].apply(lambda x: re.sub(r'[\(\)\d]', '', x))

# WC_Location

     호선   역명    호기     승강기번호                     설치위치   운행구간
0     1  서울역  내부#1  1902-362             C계단 측, B2-B1  B2-B1
1     1  신설동  외부#2  1903-467           6번 출구 측, 1F-B1  1F-B1
2     1  신설동  내부#1  1903-415            제기동 방면, B2-B1  B2-B1
3     1  신설동  내부#2  1903-417            동묘앞 방면, B2-B1  B2-B1
4     1  신설동  내부#3  1903-416         연결통로(대합실), B1-B1  B1-B1
..   ..  ...   ...       ...                      ...    ...
106   8   잠실     2   1900790  석촌 방면1-1 환승통로 계단, B3-B2  B3-B2
107   8   잠실     3   1900791    사당 방면환승통로 끝 계단, 통로-B2  통로-B2
108   8   복정     1   1900771           4번 출구 측, B1-F1  B1-F1
109   8   모란     1   3900941    환승통로(암사방면 6-4), B3-B2  B3-B2
110   8   모란     2   3900942    환승통로(모란방면 1-1), B3-B2  B3-B2

[111 rows x 6 columns]

In [7]:
# CSV 파일로 저장
WC_Location.to_csv('(최종 전처리2) 서울교통공사_휠체어리프트 설치현황_20230420.csv',encoding='cp949',index=False)

### 수유실 시작

In [44]:
Feeding_Room_Df =  pd.read_csv('C:/Users/dlwhd/Downloads/2023 Hackton/Info_Data/(엘베,휠체어리프트,수유 여부)서울시 지하철 역사 편의시설 현황.csv', encoding='cp949')

In [45]:
# 문자열 앞의 0 제거
Feeding_Room_Df['호선'] = Feeding_Room_Df['호선'].str.lstrip('0')
Feeding_Room_Df

,지하철역ID,지하철역명,호선,엘리베이터유무,휘체어리프트유무,환승주차자유무,자전거보관소유무,무인민원발급기유무,환전키오스크유무,기차예매역유무,문화공간유무,문화공간유무.1,유아수유방유무
0,150,서울역,1호선,Y,Y,N,NaN,N,N,N,N,Y,N
1,151,시청,1호선,Y,N,N,NaN,N,N,N,N,Y,N
2,152,종각,1호선,Y,N,N,NaN,Y,N,N,N,N,N
3,153,종로3가,1호선,Y,N,N,NaN,N,N,N,Y,N,Y
4,154,종로5가,1호선,Y,N,N,NaN,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,4134,송파나루,9호선,Y,N,N,NaN,Y,N,N,N,N,Y
286,4135,한성백제,9호선,Y,N,N,NaN,N,N,N,N,N,Y
287,4136,올림픽공원,9호선,Y,N,N,NaN,N,N,N,N,N,Y
288,4137,둔촌오륜,9호선,Y,N,N,NaN,N,N,N,N,N,Y
289,4138,중앙보훈병원,9호선,Y,N,N,NaN,N,N,N,N,N,Y

In [46]:
# LINE_NUM 매핑 딕셔너리
line_mapping = {
    '1호선': '1',
    '2호선': '2',
    '3호선': '3',
    '4호선': '4',
    '5호선': '5',
    '6호선': '6',
    '7호선': '7',
    '8호선': '8',
    '9호선': '9',
    # 나머지 매핑값 추가
    '10':'경의선',
    '11':'경춘선',
    '12':'경강선',
    '13':'수인분당',
    '14':'신분당',
    '15':'에버',
    '16':'의정부경전철',
    '17':'인천선',
    '18':'인천2호선',
    '19':'공항철도',
    '20':'신림선',
    '21':'용인경전철',
    '22':'우이신설경전철',
    '23':'서해선',
    '24':'김포도시철도'
}

# 'LINE' 컬럼 추가
Feeding_Room_Df['호선'] = Feeding_Room_Df['호선'].map(line_mapping).fillna('')

Feeding_Room_Df.head(30)

,지하철역ID,지하철역명,호선,엘리베이터유무,휘체어리프트유무,환승주차자유무,자전거보관소유무,무인민원발급기유무,환전키오스크유무,기차예매역유무,문화공간유무,문화공간유무.1,유아수유방유무
0,150,서울역,1,Y,Y,N,NaN,N,N,N,N,Y,N
1,151,시청,1,Y,N,N,NaN,N,N,N,N,Y,N
2,152,종각,1,Y,N,N,NaN,Y,N,N,N,N,N
3,153,종로3가,1,Y,N,N,NaN,N,N,N,Y,N,Y
4,154,종로5가,1,Y,N,N,NaN,N,N,N,N,N,N
5,155,동대문,1,Y,N,N,NaN,N,N,N,N,Y,Y
6,156,신설동,1,Y,Y,N,NaN,N,N,N,N,N,N
7,157,제기동,1,Y,N,N,NaN,N,N,N,N,N,N
8,158,청량리,1,Y,Y,N,NaN,N,N,Y,N,N,N
9,159,동묘앞,1,Y,N,N,NaN,N,N,N,N,N,N
10,200,까치산,2,N,N,N,NaN,Y,N,N,N,N,Y
11,201,시청,2,Y,N,N,NaN,N,N,N,N,N,N
12,202,을지로입구,2,Y,N,N,NaN,N,Y,N,N,N,N
13,203,을지로3가,2,Y,N,N,NaN,N,Y,N,N,N,N
14,204,을지로4가,2,Y,N,N,NaN,N,N,N,N,Y,N
15,205,동대문역사문화공원,2,Y,N,N,NaN,N,Y,N,N,N,N
16,206,신당,2,Y,N,N,NaN,N,N,N,N,Y,N
17,207,상왕십리,2,Y,N,N,NaN,N,N,N,N,Y,N
18,208,왕십리,2,Y,N,N,NaN,N,N,N,N,Y,N
19,209,한양대,2,Y,Y,N,NaN,N,N,N,N,Y,N
20,210,뚝섬,2,Y,N,N,NaN,N,N,N,N,Y,N
21,211,성수,2,Y,N,N,NaN,N,N,N,Y,Y,Y
22,212,건대입구,2,Y,N,N,NaN,Y,N,N,N,Y,N
23,213,구의,2,Y,N,N,NaN,Y,N,N,N,Y,N
24,214,강변,2,Y,N,N,NaN,N,N,N,N,N,Y
25,215,잠실나루,2,Y,N,Y,NaN,N,N,N,N,Y,N
26,216,잠실,2,Y,Y,N,NaN,N,Y,N,N,N,Y
27,217,잠실새내,2,Y,N,N,NaN,N,N,N,N,Y,N
28,218,종합운동장,2,Y,N,N,NaN,N,N,N,Y,Y,N
29,219,삼성,2,Y,Y,N,NaN,Y,Y,N,N,N,Y

In [47]:
Feeding_Room_Df['유아수유방유무'] = Feeding_Room_Df['유아수유방유무'].map({'Y': 1, 'N': 0})
Feeding_Room_Df['유아수유방유무'] = Feeding_Room_Df['유아수유방유무'].astype(str)
Feeding_Room_Df

,지하철역ID,지하철역명,호선,엘리베이터유무,휘체어리프트유무,환승주차자유무,자전거보관소유무,무인민원발급기유무,환전키오스크유무,기차예매역유무,문화공간유무,문화공간유무.1,유아수유방유무
0,150,서울역,1,Y,Y,N,NaN,N,N,N,N,Y,0.0
1,151,시청,1,Y,N,N,NaN,N,N,N,N,Y,0.0
2,152,종각,1,Y,N,N,NaN,Y,N,N,N,N,0.0
3,153,종로3가,1,Y,N,N,NaN,N,N,N,Y,N,1.0
4,154,종로5가,1,Y,N,N,NaN,N,N,N,N,N,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,4134,송파나루,9,Y,N,N,NaN,Y,N,N,N,N,1.0
286,4135,한성백제,9,Y,N,N,NaN,N,N,N,N,N,1.0
287,4136,올림픽공원,9,Y,N,N,NaN,N,N,N,N,N,1.0
288,4137,둔촌오륜,9,Y,N,N,NaN,N,N,N,N,N,1.0
289,4138,중앙보훈병원,9,Y,N,N,NaN,N,N,N,N,N,1.0

In [48]:
# CSV 파일로 저장
Feeding_Room_Df.to_csv('(최종 전처리) 엘베,휠체어리프트,수유 여부 - 서울시 지하철 역사 편의시설 현황.csv',encoding='cp949',index=False)